/* #735DA5, #D3C5E5 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;


  font-family: "Playwrite NG Modern", cursive;
  font-optical-sizing: auto;
  font-weight:400;
  font-style: normal;
}




body {
    background-color: #D3C5E5;
}

.navbar {
    position: relative;
    display: flex;
    background-color: #735DA5;
    height: 40px;
    align-items: center;
    justify-content: space-around;
}

.nav ul {
    display: flex;
    gap: 20px;
}

.nav li {
    list-style: none;
}

.nav a {
    text-decoration: none;
    color: white;

}

.name {
    color: white;
}

.bars a {
    color: white;
    display: none;
}
.personal-information{
   
    display: flex;
  
}
.details{
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 400px;
    /* background-color: bisque; */
}
.my-image{
    display: flex;
    
    justify-content: center;
    align-items: center;
    width: 40%;
    height: 400px;
}
.my-image img{
    width:350px;
    height: 350px;
    border-radius:10%;
    box-shadow: 5px 20px 10px #735DA5;
}
#p{
    font-size:10px;
    margin-left: -300px;
    margin-top: 10px;
}
#q{
    margin-left: -380px;
}
.btn1 button{
    background-color: #735DA5;
    margin-left: -270px;
    border-radius: 10px;
    margin-top: 4px;
    width: 120px;
}
.personal-2{
    display: flex;
}
.images2{
    width: 50%;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.images2 img{
    width:350px;
    height: 350px;
    border-radius: 10%;
    box-shadow: 5px 20px 10px #735DA5;
}
.perosnalinfo{
    width:50%;
    height: 600px;
    display: flex;
   
 justify-content: center;
    flex-direction: column;
}
.one p{
    font-size:10px;
    
} 
.one h1{
    font-size:18px;
    color: black;
}
.one span{
    color: #735DA5;
}
.two p{
    font-size: 13px;
    color:black
}
.three div i{
    font-size:12px;
}
.four div i{
    font-size:12px;
}
.five div i{
    font-size:12px;
}
.three{
    display: flex;
    gap:50px;
}
.four{
    display: flex;
    gap:50px;
}
.five{
    display: flex;
    gap:50px;
    
}
.six a {
    background-color: #735DA5;
    border-radius: 3px;
    text-decoration: none;
    color: black;
    margin-top:10px ;
    font-size: 14px;

}
.main{
    display: flex;
    justify-content: center;
}
.box{
    width:80%;
    height: 180px;
    border:1px solid grey;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.boxes h1{
    font-size:19px;
    text-decoration: underline;
}
.boxes p{
    font-size:14px;
}
.boxes p a{
    color:black;
    font-size:14px;
}
.second-last{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top:20px;
}
.squares{
    display: flex;
    display: grid;
    grid-template-columns: 250px 250px 250px;
    grid-template-rows: 320px;
    margin-top: 20px;
    gap:30px;
}
.square1 , .main-square  , .square2{
   
    background-color: #735DA5;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
   
}
.img img{
    width:100px;
    height: 100px;
}
.square1 , .main-square  , .square2 p{
    font-size:14px;
}
footer{
    margin-top: 40px;
    
}
.foot1{
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 15px;

}
#form{
    width: 400px;
    height: 22px;
    border: 1 px solid black;
    border-radius: 20%;
    background-color: #735DA5;
    color:white;
    padding: 14px;
}
@media only screen and (max-width:500px) {
    .bars a {
        display: block;

    }

    .nav ul {
        position: absolute;
        display: flex;
        flex-direction: column;
        margin-top: 15px;
        right: 0;
        overflow: hidden;
        background-color: #735DA5;
        height: 250px;
        width: 150px;
        justify-content: center;
        align-items: center;


    }
    .personal-information{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
   
#q, #p{
display: none;
}

.btn1 button{
    margin-left: 10px;margin-top: 10px;
}

    #menu-list {
        transition: max-width 0.3s ease;
        /* Adjust timing and easing as needed */
    }
    .personal-2{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .perosnalinfo{
        margin-top: 29px;
    }
    .box{
        display: flex;
        align-items: center;
        flex-direction: column;
        height: auto;
    }
    .boxes{
        padding: 15px;
    }
    .main{
        margin-top: 150px;
    }
    .box3{
        margin-left: -55px;
    }
    .vs{
        display: flex;
        flex-direction: column;
      gap:0;
    }
    .squares{
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .square1 , .main-square  , .square2 p{
        font-size: 10px;
    }
    .square1 , .main-square  , .square2{
       width:180px;
       height: 200px;
        justify-content: center;
        display: flex;
        flex-direction: column;
    }
    .foot1{
        display: flex;
        align-items: center;
        flex-direction: column;
    }
}